body {
    background: url(../img/tutorialbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#tutorialmenu {
    background-color: darkgray;
    width: 500px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
    
}
#money {
    background-color: #363636;
    height: 50px;
    width: 300px;
    color: gold;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    
}
#pharmacy {
    background-color: #363636;
    height: 50px;
    width: 300px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 5px;
    top: 80px;
}
#varna {
    background-color: #363636;
    height: 50px;
    width: 300px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 5px;
    top: 20px;
}
#buymenu {
    background-color: #363636;
    height: 500px;
    width: 300px;
    color: gold;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    font-size:  20px;
    text-align: center;
}
#storagemenu {
    background-color: #363636;
    height: 400px;
    width: 300px;
    color: gold;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    font-size:  20px;
    position: absolute;
    left: 5px;
    top: 80px;
}
#cook {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
}
#sell {
        background-color: #363636;
        height: 50px;
        width: 300px;
        color: gold;
        font: Helvetica;
        border: 2px black solid;
        border-radius: 20px;
        display: none;
        font-size:  20px;
        position: absolute;
    right: 5px;
    top: 20px;
}
#storagesell {
    background-color: #363636;
    height:400px;
    width: 300px;
    color: gold;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    font-size:  20px;
    position: absolute;
    right: 5px;
    top: 80px;
    text-align: center;
}
#storagedrug {
    position: absolute;
    right: 0px;
    top: 20px;
}
#drug1 {
    background-color: green;
    height: 50px;
    width: 50px;
    color: gold;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display:block;
    margin: 0 auto;
}
#drug2 {
    background-color: green;
    height: 50px;
    width: 50px;
    color: gold;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display:block;
    margin: 0 auto;
}
#drug3 {
    background-color: green;
    height: 50px;
    width: 50px;
    color: gold;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display:block;
    margin: 0 auto;
}
#drug4 {
    background-color: green;
    height: 50px;
    width: 50px;
    color: gold;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display:block;
    margin: 0 auto;
}
#drug1:hover {
    background-color: rgb(0, 85, 0);
    cursor: pointer;
}
#drug2:hover {
    background-color: rgb(0, 85, 0);
    cursor: pointer;
}
#drug3:hover {
    background-color: rgb(0, 85, 0);
    cursor: pointer;
}
#drug4:hover {
    background-color: rgb(0, 85, 0);
    cursor: pointer;
}
#cook:hover {
    cursor: pointer;
    background-color: #181818;
}
#sell:hover {
    cursor: pointer;
    background-color: #181818;
}
#pharmacy:hover {
    cursor: pointer;
    background-color: #181818;
}
#varna:hover {
    cursor: pointer;
    background-color: #181818;
}
#phone {
    display: none;
    position: absolute;
    bottom: 0px;
}
#phone2 {
    display: none;
position: absolute;
bottom: 0px;
}
#close {
    background-color: red;
    height: 25px;
    color: black;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display:none;
    cursor: pointer;
    position: absolute;
    bottom: 320px;
    left: 210px;
}
#close:hover {
    background-color: rgb(163, 0, 0);
}
#phonetext {
    position: absolute;
    bottom: 100px;
    left: 20px;
    display: none;
}
#upgrade1 {
    background-color: green;
    height: 25px;
    color: black;
}
#upgrade2 {
    background-color: green;
    height: 25px;
    color: black;
}
#upgrade3 {
    background-color: green;
    height: 25px;
    color: black;
}
#out {
    background-color: #363636;
    height: 50px;
    width: 300px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    right: 5px;
    top: 20px;
}
#out:hover {
    cursor: pointer;
    background-color: #181818;
}
#next {
    background-color: #363636;
    height: 50px;
    width: 300px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 5px;
    top: 20px;
}
#next:hover {
    cursor: pointer;
    background-color: #181818;
}
#dry {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    margin: 0 auto;
}
#process {
    display: block;
    position: absolute;
    text-align: center;
    left: 680px;
    top: 525px;
}
#dry:hover {
    cursor: pointer;
    background-color: #181818;
}
#garden {
    background-color: #363636;
    height: 50px;
    width: 300px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 5px;
    top: 140px;
}
#garden:hover {
    cursor: pointer;
    background-color: #181818;
}
#upgrade1:hover {
    background-color: rgb(0, 85, 0);
    cursor: pointer;
}
#upgrade2:hover{
    background-color: rgb(0, 85, 0);
    cursor: pointer;
}
#upgrade3:hover {
    background-color: rgb(0, 85, 0);
    cursor: pointer;
}
#gardenprice {
    background-color: #363636;
    height: 150px;
    width: 300px;
    color: gold;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    font-size:  20px;
    text-align: center;
}
#drug11 {
    background-color: green;
    height: 50px;
    width: 50px;
    color: gold;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display:block;
    margin: 0 auto;
}
#drug11:hover {
    background-color: rgb(0, 85, 0);
    cursor: pointer;
}
#plant1 {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 260px;
    bottom: 140px;
    cursor: pointer;
}
#plant2 {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 440px;
    bottom: 50px;
    cursor: pointer;
}
#plant3 {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 620px;
    bottom: 110px;
    cursor: pointer;
}
#plant4 {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 835px;
    bottom: 30px;
    cursor: pointer;
}
#plant5 {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 1040px;
    bottom: 120px;
    cursor: pointer;
}

#plant6 {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 1285px;
    bottom: 50px;
    cursor: pointer;
}
#plant7 {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 1500px;
    bottom: 125px;
    cursor: pointer;
}
#harvest1 {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 240px;
    bottom: 140px;
    cursor: pointer;
}
#harvest2 {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 425px;
    bottom: 50px;
    cursor: pointer;
}
#harvest3 {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 605px;
    bottom: 110px;
    cursor: pointer;
}
#harvest4 {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 818px;
    bottom: 30px;
    cursor: pointer;
}
#harvest5 {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 1025px;
    bottom: 120px;
    cursor: pointer;
}
#harvest6 {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 1270px;
    bottom: 50px;
    cursor: pointer;
}
#harvest7 {
    background-color: #363636;
    height: 50px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 1485px;
    bottom: 125px;
    cursor: pointer;
}
#play {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: none;
}
#mute {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: none;
}
#progress1 {
    background-color: #363636;
    height: 50px;
    width: 75px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 260px;
    bottom: 140px;
}
#progress2 {
    background-color: #363636;
    height: 50px;
    width: 75px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 440px;
    bottom: 50px;
}
#progress3 {
    background-color: #363636;
    height: 50px;
    width: 75px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 620px;
    bottom: 110px;
    cursor: pointer;
}
#progress4 {
    background-color: #363636;
    height: 50px;
    width: 75px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 835px;
    bottom: 30px;
}
#progress5 {
    background-color: #363636;
    height: 50px;
    width: 75px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 1040px;
    bottom: 120px;
}
#progress6 {
    background-color: #363636;
    height: 50px;
    width: 75px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 1285px;
    bottom: 50px;
}
#progress7 {
    background-color: #363636;
    height: 50px;
    width: 75px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font: Helvetica;
    border: 2px black solid;
    border-radius: 20px;
    display: none;
    position: absolute;
    left: 1500px;
    bottom: 125px;
}
#plant1:hover {
    background-color: #181818;
}
#plant2:hover {
    background-color: #181818;
}
#plant3:hover {
    background-color: #181818;
}
#plant4:hover {
    background-color: #181818;
}
#plant5:hover {
    background-color: #181818;
}
#plant6:hover {
    background-color: #181818;
}
#plant7:hover {
    background-color: #181818;
}
#harvest1:hover {
    background-color: #181818;
}
#harvest2:hover {
    background-color: #181818;
}
#harvest3:hover {
    background-color: #181818;
}
#harvest4:hover {
    background-color: #181818;
}
#harvest5:hover {
    background-color: #181818;
}
#harvest6:hover {
    background-color: #181818;
}
#harvest7:hover {
    background-color: #181818;
}